<p>courselist works!</p>

<div class="container">
    <h2>Courses List</h2>
    <p>Choose the Course to check Mentors and their availability</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Course ID</th>
                <th>Titile</th>
                <th>Description</th>
                <th>Price</th>
                <th>Mentor</th>
                <th>Actions</th>
                <th>Schedule</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>100</td>
                <td>Basics</td>
                <td>HTML</td>
                <td>0</td>
                <td>hs</td>
                <td>
                    <button type="button" class="btn btn-primary">Edit</button>&nbsp;
                    <button type="button" class="btn btn-info">View</button>&nbsp;
                    <button type="button" class="btn btn-danger">Delete</button>
                </td>
                <td>
                    <button type="button" class="btn btn-link">Quick Schedule</button>
                </td>
            </tr>
            <tr>
                <td>110</td>
                <td>Everything Web</td>
                <td>Full Stack</td>
                <td>45.0</td>
                <td>hs</td>
                <td>
                    <button type="button" class="btn btn-primary">Edit</button>&nbsp;
                    <button type="button" class="btn btn-info">View</button>&nbsp;
                    <button type="button" class="btn btn-danger">Delete</button>
                </td>
                <td>
                    <button type="button" class="btn btn-link">Quick Schedule</button>
                </td>
            </tr>
    </table>
    <button type="button" class="btn btn-success">Add New Course</button>
</div>